{% include 'includes/header.html' %}
  <body>
    {% include "navbar.html" %}
      <div class="tenor-gif-embed" data-postid="11535585" data-share-method="host" data-width="60%" data-aspect-ratio="1.3532608695652173"><a href="https://tenor.com/view/interdit-gif-11535585">INTERDIT GIF</a> from <a href="https://tenor.com/search/interdit-gifs">Interdit GIFs</a></div>
      <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
      <button type="submit" id="returnPage" class="btn btn-primary col-sm-5 ml-3">Retour</button>
  </body>
</html>
