<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
    <div class="mb-5 text-center">
      <h1>Pyckets</h1>
    </div>
    <form>
      <div class="form-group col-sm-7 mb-3 ">
            <label for="exampleInputEmail1">Adresse Mail</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group col-sm-4 mb-2 ">
          <label for="exampleInputPassword1">Mot de Passe</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
        <button type="submit" class="btn btn-primary ml-3">Connection</button>
    </form>
    </div>
  </body>
</html>
