{% include 'includes/header.html' %}
<body class="d-flex flex-column h-100">
{% include 'includes/navbar.html' %}
    <main class="flex-shrink-0" role="main">
        <div class="container mt-5">

    <!-- Table to show tickets of current user -->
            <div class="col-12 mt-5">
              <div class="row justify-content-between">
                {% if user.isAdmin %}
                  <h3> Les tickets d'incident</h3>
                {% else %}
                  <h3> Mes tickets d'incident</h3>
                  <a href="/add-ticket"><button type="button" class="btn btn-primary">Ajouter un ticket</button></a>
                {% endif %}
              </div>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">Tous</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="resolved-tab" data-toggle="tab" href="#resolved" role="tab" aria-controls="resolved" aria-selected="false">Résolu</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="unresolved-tab" data-toggle="tab" href="#unresolved" role="tab" aria-controls="unresolved" aria-selected="false">Non résolu</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                  <table class="table mt-3 table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Client</th>
                        <th scope="col">Sujet</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for ticket in tickets %}
                      <tr>
                        <th scope="row">{{ ticket.id }}</th>
                        <td>{{ ticket.username }}</td>
                        <td>{{ ticket.sujet_ticket }}</td>
                        <td>{{ ticket[3] }}</td>
                        {% if ticket.etat_ticket == "1"%}
                          <td>Résolu</td>
                        {% else %}
                          <td>Non résolu</td>
                        {% endif %}
                        <td><a href=""><button type="button" class="btn btn-primary btn-sm">Détails</button></a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="resolved" role="tabpanel" aria-labelledby="resolved-tab">
                  <table class="table mt-3 table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Client</th>
                        <th scope="col">Sujet</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for ticket in tickets %}
                        {% if ticket.etat_ticket == "1" %}
                          <tr>
                            <th scope="row">{{ ticket.id }}</th>
                            <td>{{ ticket.username }}</td>
                            <td>{{ ticket.sujet_ticket }}</td>
                            <td>{{ ticket[3] }}</td>
                            {% if ticket.etat_ticket == "1"%}
                              <td>Résolu</td>
                            {% else %}
                              <td>Non résolu</td>
                            {% endif %}
                            <td><a href=""><button type="button" class="btn btn-primary btn-sm">Détails</button></a></td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="unresolved" role="tabpanel" aria-labelledby="unresolved-tab">
                  <table class="table mt-3 table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Client</th>
                        <th scope="col">Sujet</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for ticket in tickets %}
                        {% if ticket.etat_ticket == "0" %}
                          <tr>
                            <th scope="row">{{ ticket.id }}</th>
                            <td>{{ ticket.username }}</td>
                            <td>{{ ticket.sujet_ticket }}</td>
                            <td>{{ ticket[3] }}</td>
                            {% if ticket.etat_ticket == "1"%}
                              <td>Résolu</td>
                            {% else %}
                              <td>Non résolu</td>
                            {% endif %}
                            <td><a href=""><button type="button" class="btn btn-primary btn-sm">Détails</button></a></td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
        </div>
    </main>
{% include "includes/script.html"%}
</body>
</html>
