{% include 'includes/header.html' %}
  <body>
{% include 'includes/navbar.html' %}
  <div class="container">
    <div class="mb-5 text-center">
      <h1>Pyckets</h1>
    </div>
    <form>
      <div class="form-group col-sm-7 mb-3 ">
            <label for="clientTicket">Nom du client</label>
            <input type="text" class="form-control" id="clientTicket" readonly>
      </div>
      <div class="form-group col-sm-4 mb-2 ">
          <label for="topicTicket">Sujet</label>
          <input type="text" class="form-control" id="topicTicket" readonly>
      </div>
      <div class="form-group ml-3">
        <label for="descriptionTicket">Description du Ticket</label>
        <textarea class="form-control" id="descriptionTicket" rows="3" readonly></textarea>
      </div>
        <button type="submit" id="returnPage" class="btn btn-primary col-sm-5 ml-3">retour</button>
        <button type="submit" id="statusTicket" class="btn btn-primary col-sm-5 ml-3">Resolu</button>
    </form>
    </div>
  </body>
</html>
